body {
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-start {
  border: none;
  border-radius: 5px;
  background-color: #51cf66;
  padding: 12px 36px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 32px;
}

.input {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
  display: none;
}
